.fullscreen a{
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent-cube {
  position: relative;
  display: block;
  width: 80vw;
  height: 80vh;
}

.rect {
  background: black;
  display: inline-block;
  width: 75vw;
  height: 75vh;
}

.cube1 {
  position: relative;
  padding-bottom: 72vh;
  padding-top: 20px;
  height: 0;
}

.cube2 {
  width: 100px;
  width: 25vh;
  background: orange;
  -webkit-transform: skew(0deg, 45deg);
          transform: skew(0deg, 45deg);
  position: absolute;
  left: 75vw;
  top: 12.5vh;
}

.cube3 {
  height: 25vh;
  background: red;
  -webkit-transform: skew(45deg, 0deg);
          transform: skew(45deg, 0deg);
  position: relative;
  left: 12.5vh;
  top: -4px;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) {
  .cube1 {
    padding-bottom: 65vh;
  }

  .cube2 {
    height: 67.5vh;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 1199px) {
  .cube1 {
    padding-bottom: 60vh;
  }

  .cube2 {
    height: 66vh;
  }
}

/*Small devices (mobile, 576px and up)*/
@media (max-width: 576px) {
  .cube1 {
    padding-bottom: 40vh;
  }

  .cube2 {
    height: 43vh;
  }
}
